<!--<h1>{{ title }} HELLO!</h1>-->
<!--<h2>{{ description }}</h2>-->
<!--<button (click)="sayHello()">Click me</button>-->
<!--<button (click)="toggleDescription()">Toggle description</button>-->

<!--<p *ngIf="showDescription">{{ description }}</p>-->
<!--<div>-->
<!--  {{ catNames }}-->
<!--</div>-->

<!--<div *ngFor="let name of catNames">-->
<!--  {{ name }}-->
<!--</div>-->

<!--<div>-->
<!--  <span *ngFor="let name of catNames">-->
<!--    {{ name }}-->
<!--  </span>-->
<!--</div>-->
<!--<button (click)="addCount()">Add Count</button>-->
<!--<button (click)="removeCount()">Remove Count</button>-->
<!--<div>-->
<!--    {{count}}-->
<!--</div>-->

<app-planner></app-planner>
